body {
    background-color: rgb(154, 154, 182);
}

header {
    text-align: center;
}

section {
    background-color: white;
    font-size: 20px;
    margin: 30px;
    padding: 10px;
    border-radius: 8px;
}

#mensagem {
    text-align: center;
}

#foto {
    width: 400px;
}

footer {
    text-align: center;
}
