body {
    background-color: rgb(139, 186, 224);
    font: 15pt normal Arial;
}

header {
    color: rgb(15, 12, 12);
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
